body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    overflow: hidden;
    touch-action: none;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    outline: none;

}

.credit {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: 'Press Start 2P', monospace;
    font-size: 10px;
    color: white;
    opacity: 0.8;
    z-index: 9999;
}

.credit a {
    color: #000000;
    text-decoration: none;
}

.credit a:hover {
    text-decoration: underline;
}

